{% extends 'layouts/base.html' %}
{% block titulo %} URL SHORT {% endblock %}

{% block contenido %}

<nav class="navbar navbar-center navbar-dark bg-dark mb-3 col-7">
    <div class="container-fluid">
        <a class="navbar-brand">ACORTADOR URL 
            {% if session['usuario'] %}
                {{ session['usuario'] }}
            {% else %}
                <h6>No se ha iniciado Sesion</h6>
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if session['usuario'] %}
                    <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Cerrar Sesion</a>
                    {% else %}
                    <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Iniciar Sesion</a>
                    {% endif %}
                </li>

                <li class="nav-item">
                    {% if session['usuario'] %}
                    {% else %}
                    <a class="nav-link" href="{{ url_for('registrar_usuario') }}">Registrar</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<form action="{{url_for('index_user')}}" method="POST">
    <div>
    <div class="mb-3 col-7">
        <input type="text" required class="form-control" id="acortar" name="acortar" placeholder="Ingrese la Url" style="color:cadetblue;"
            value="{{url_mostrar}}">
        <a class="nav-link" href="{{ url_mostrar }}">{{ url_mostrar }}</a>
    </div>

    <button type="submit" class="btn btn-primary" style="background-color:green">Acortar</button>
    </div>
</form>



{% endblock%}